<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
    <div class="navbar-header skin7">
      <!-- This is for the sidebar toggle which is visible on mobile only -->
      <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
          class="ti-menu ti-close"></i></a>
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <a class="navbar-brand" href="<%= admins_dashboards_url %>">
        <!-- <strong>Duedi</strong> -->
        <!-- Logo icon -->
        <b class="logo-icon">
          Admin
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon
          <img src="<%#= asset_path("Duedi-Logo-White.png") %>" alt="homepage" class="dark-logo" style="width: 50px;" />-->
          <!-- Light Logo icon
          <img src="<%#= asset_path("Duedi-Logo-White.png") %>" alt="homepage" class="light-logo" style="width: 50px;" />-->
        </b>
        <!--End Logo icon -->
        <!-- Logo text
        <span class="logo-text">-->
          <!-- dark Logo text
          <img src="<%#= asset_path("Duedi-Logo-White.png") %>" alt="homepage" class="dark-logo" style="width: 100px;" />-->
          <!-- Light Logo text
          <img src="<%#= asset_path("Duedi-Logo-White.png") %>" class="light-logo" alt="homepage" style="width: 100px;" />
        </span>-->
      </a>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Toggle which is visible on mobile only -->
      <!-- ============================================================== -->
      <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
    </div>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav float-left mr-auto">
        <li class="nav-item d-none d-md-block">
          <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
            <i class="mdi mdi-menu font-24 text-secondary"></i>
          </a>
        </li>
      </ul>
      <!-- ============================================================== -->
      <!-- Right side toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav float-right">
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="<%= asset_path("users/1.jpg") %>" alt="user" class="rounded-circle" width="31">
          </a>
          <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
            <span class="with-arrow"><span class="bg-white"></span></span>
            <%= link_to admins_edit_url, class: "dropdown-item" do %>
              <i class="fa fa-user m-r-5 m-l-5"></i> Profile
            <% end %>
            <%= link_to destroy_admin_session_url, class: "dropdown-item", method: :delete do %>
              <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
            <% end %>
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
      </ul>
    </div>
  </nav>
</header>