<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- User Profile-->
        <li>
          <!-- User Profile-->
          <div class="user-profile d-flex no-block dropdown mt-3">
            <div class="user-pic">
              <img src="<%= asset_path("users/1.jpg") %>" alt="users" class="rounded-circle" width="40" />
            </div>
            <div class="user-content hide-menu ml-2">
              <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <h5 class="mb-0 user-name font-medium"><%= current_admin.name.present? ? current_admin.name : "Admin" %> <i class="fa fa-angle-down"></i></h5>
                <span class="op-5 user-email"><%= current_admin.email %></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                <%= link_to admins_edit_url, class: "dropdown-item" do %>
                  <i class="fa fa-user ml-1"></i> Profile
                <% end %>
                <%= link_to destroy_admin_session_url, class: "dropdown-item", method: :delete do %>
                  <i class="fa fa-power-off mr-1 ml-1"></i> Logout
                <% end %>
              </div>
            </div>
          </div>
          <!-- End User Profile-->
        </li>
        <li class="sidebar-item">
          <%= link_to admins_dashboards_path, class:"sidebar-link waves-effect waves-dark" do %>
            <i class="mdi mdi-view-dashboard"></i> <span class="hide-menu">Dashboard</span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admins_categories_path, class:"sidebar-link waves-effect waves-dark" do %>
            <i class="mdi mdi-bookmark"></i> <span class="hide-menu">Categories</span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admins_contacts_path, class:"sidebar-link waves-effect waves-dark" do %>
            <i class="mdi mdi-message-text"></i> <span class="hide-menu">Contacts</span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admins_countries_path, class:"sidebar-link waves-effect waves-dark" do %>
            <i class="mdi mdi-flag"></i> <span class="hide-menu">Countries</span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admins_genders_path, class:"sidebar-link waves-effect waves-dark" do %>
            <i class="mdi mdi-gender-male-female"></i> <span class="hide-menu">Genders</span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admins_subscribers_path, class:"sidebar-link waves-effect waves-dark" do %>
            <i class="mdi mdi-account-multiple"></i> <span class="hide-menu">Subscribers</span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to admins_users_path, class:"sidebar-link waves-effect waves-dark" do %>
            <i class="mdi mdi-account-multiple"></i> <span class="hide-menu">Users</span>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>