@import "admin-panel/style";
@import "admin-panel/quill.snow";

.skin7 {
  background: #3c819b;
}

.bg-white {
  background: white;
}

.alert-notice,
.alert-alert {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

#tip-description-editor {
  height: 300px
}