<div class="row">
  <div class="col-md-4">
    <div class="card card-hover">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-users fa-3x"></i>
          </div>
          <div class="col-md-9">
            <span>New Users Today</span>
            <h4><%= @user_today %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-hover">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-users fa-3x"></i>
          </div>
          <div class="col-md-9">
            <span>New Users This Week</span>
            <h4><%= @user_week %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-hover">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-users fa-3x"></i>
          </div>
          <div class="col-md-9">
            <span>New Users This Month</span>
            <h4><%= @user_month %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card card-hover">
      <div class="card-header">
        Latest Data Users Sign Up
      </div>
      <div class="card-body">
        <%= form_tag admins_dashboards_url, method: :get do %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Search Email</label>
                <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Search User Email..' %>
              </div>
            </div>
            <div class="col-md-6">
              <label>Search Name</label>
              <%= text_field_tag :name, nil, class: 'form-control', placeholder: 'Search User Name..' %>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-light" type="submit">Search</button>
              </div>
            </div>
          </div>
        <% end %>
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.email %></td>
                  <td><%= user.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= pagy_bootstrap_nav(@pagy).html_safe %>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>